<p>
    <button (click)="location.back();">戻る</button>
</p>
<div *ngIf="hero">
    <h2>{{hero.name}}の情報</h2>
    <div>
        <span>番号：</span>{{hero.id}}
    </div>
    <div>
        <label>
            ヒーロー名：
            <input [(ngModel)]="hero.name" placeholder="ヒーロー名を記入してください。">
        </label>
    </div>
    <div>
        <button (click)="save();">保存</button>
        &nbsp;
        <a href="javascript:void(0);" (click)="delete();">削除</a>
    </div>
</div>
<div *ngIf="!hero">
    ヒーローが見つかりません。
</div>